## Send everything to the index.php ##
<IfModule mod_rewrite.c>
  RewriteEngine on

  # /static/...
  RewriteRule ^static/(.+)$ site/static/$1 [END]
  # /salic/static/...
  RewriteRule ^salic/static/(.+)$ salic/static/$1 [END]

  # /edit/XYZ/save
  RewriteRule ^edit/([^/]*)/save/? save.php?page=$1 [END,QSD]
  # /edit/XYZ[/]
  RewriteRule ^edit/([^/]*)/? edit.php?page=$1 [END,QSD] # discard other GET params

  # /en/XYZ
  RewriteRule ^([A-z]+)/([^/]*) index.php?lang=$1&page=$2 [END,QSD]
  # /XYZ
  RewriteRule ^([^/]*) index.php?page=$1 [END,QSD] # for now, ignore everything after an additional slash (like /page/blablub)
</IfModule>