## Send everything to the index.php ##
<IfModule mod_rewrite.c>
  RewriteEngine on

  # /static/...
  RewriteRule ^static/(.+)$ site/static/$1 [END]
  # /salic/static/...
  RewriteRule ^salic/static/(.+)$ salic/static/$1 [END]

  # /edit/lang/XYZ/save
  RewriteRule ^edit/([A-z_-]+)/([^/]*)/save/?$ save.php?lang=$1&page=$2 [END,QSD] # QSD = discard other GET params
  # /edit/lang/XYZ[/]
  RewriteRule ^edit/([A-z_-]+)/([^/]*)/?$ edit.php?lang=$1&page=$2 [END,QSD]
  # /edit/XYZ[/]
  RewriteRule ^edit/([^/]*)/?$ edit.php?lang=en&page=$2 [END,QSD] # select default language

  # /en/XYZ[/]
  RewriteRule ^([A-z_-]+)/([^/]*)/?$ index.php?lang=$1&page=$2 [END,QSD]
  # /XYZ
  RewriteRule ^([^/]*)/?$ index.php?page=$1 [END,QSD]

  # EVERYTHING ELSE
  RewriteRule .* index.php?page=404 [END,QSD]
</IfModule>