## Send everything to the index.php ##
<IfModule mod_rewrite.c>
  RewriteEngine on

  # /static/img/*.jpg -> ImgSteward
  RewriteRule ^static/img/(.+)\.jpg$ img_steward.php?img_path=$1.jpg [END,QSA]
  # /static/...
  RewriteRule ^static/(.+)$ site/static/$1 [END]
  # /salic/static/...
  RewriteRule ^salic/static/(.+)$ salic/static/$1 [END]

  # Force trailing slash
  # condition: no trailing slash, no extension and not homepage (http://www.bla.de/)
  RewriteCond %{REQUEST_URI} !(/$|\.[^/]*$|^$)
  RewriteRule (.*) %{REQUEST_URI}/ [R=301,END]


  # /edit/lang/.../save/
  RewriteRule ^edit/([A-z_-]+)/(.*)/save/$ save.php?lang=$1&page=$2 [END,QSD] # QSD = discard other GET params
  # /edit/lang/.../
  RewriteRule ^edit/([A-z_-]+)/(.*)/$ edit.php?lang=$1&page=$2 [END,QSD] #TODO: '/edit/en'
  # /edit/XYZ/
  #RewriteRule ^edit/([^/]*)/$ edit.php?page=$2 [END,QSD] -> TODO:? 'no language'-link support
  # /edit/
  RewriteRule ^edit/$ edit.php [END,QSD]

  # /en/.../
  RewriteRule ^([A-z_-]+)/(?:(.+)/)?$ index.php?lang=$1&page=$2 [END,QSD]
  # /XYZ
  #RewriteRule ^([^/]*)/?$ index.php?page=$1 [END,QSD]
  # /
  RewriteRule ^$ index.php [END,QSD]

  # EVERYTHING ELSE
  RewriteRule .* index.php?page=404 [END,QSD]
</IfModule>