/**
 * this file holds the managing elements' css of this SALiC CMS
 * it should only be loaded when in manage mode
 **/

/** Manage Bar **/
.salic-manage-bar {
    width:100%;
    height: 50px;
    background-color: darkorange;
    padding: 10px 15px;
    line-height: 30px;
}
