{% extends parent_template %}

{% block body %}
    <div class="salic-manage-bar"> {# TODO: outsource manage bar? #}
        SALiC Manage Mode
    </div>

    {{ parent() }}
{% endblock %}

{% block scripts_top %}
    {{ parent() }}
    <link rel="stylesheet" href="../static/manage.css">
{% endblock %}

{% block scripts_bottom %}
    {{ parent() }}
    <script type="text/javascript" src="../static/manage.js"></script>
{% endblock %}